doctype html
html(lang="en")
  head
    title="Spotispy"
    link(type="text/css", rel="stylesheet", href="/static/index.css")
    script(src="/static/index.js")
  body
    img#background
    img#cover